<h1 class="mb-4"><%= @category.name %></h1>
<p class="lead"><%= @category.description %></p>

<div class="row">
  <%= render partial: 'products/product_card', collection: @products, as: :product %>
</div>